<ion-view title="Commande {{idCommande}}">
  <ion-content padding="true" class="has-header">
      <!-- entete de commande -->
      
    <ion-list id="commande1-list8">
      <ion-item class="item-divider" id="commande1-list-item-divider3"> Date : {{f.date_com}} Statut : En cours</ion-item>
    </ion-list>
      <!-- details commande -->
    <ion-list>
     <ion-item class="item-thumbnail-left balanced" ng-repeat="f in commande1">
          <img ng-src="http://localhost:8000/toutboismobPHP/img/{{f.image}}"/>
        <h2>{{f.designation}} </h2>
          <p>quantité : {{f.qte}} prix : {{f.pu}} €</p>
       
      </ion-item>
      
      <ion-item class="balanced" id="commande1-list-item20">Total HT
        <span class="item-note">4200 €</span>
      </ion-item>
      <ion-item class="balanced" id="commande1-list-item21">TVA 20 %
        <span class="item-note">840 €</span>
      </ion-item>
      <ion-item class="balanced" id="commande1-list-item22">Total TTC
        <span class="item-note">5040 €</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
