<ion-view title="Login page">
  <ion-content padding="true" class="has-header">
    <h2 style="color:#8ACC5E;">Entrez vos identifiants</h2>
    <form id="loginPage-form1" class="list">
      <ion-list id="loginPage-list1">
        <label class="item item-input" id="loginPage-input1">
          <span class="input-label">Login</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="loginPage-input2">
          <span class="input-label">Mot de passe</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="loginPage-button1" class="button button-balanced  button-block icon ion-log-in">Log in</button>
    </form>
  </ion-content>
</ion-view>
